/********** 0 - 767px **********/
@media screen and (min-width: 0px) {
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url("../images/bg-img/bg-mob@2x.jpg");
      }
    }
  }
   /********** 428px + **********/
   @media screen and (min-width: 428px) {
    
    /*.container {
      max-width: 428px;
    }
  
    .mobile-menu-social-networks-list {
      justify-content: flex-start;
      gap: 56px;
    }
  
    .mobile-contacts-tel .mobile-contacts-link {
      font-size: 36px;
    }
  
    .modal {
      width: 392px;
    }
  
    .modal-form-check-descr {
      display: flex;
      align-items: center;
    }
  
    .customers-list {
      column-gap: 16px;
      row-gap: 72px;
    }
  
    .customers-list-link {
      padding-right: 32px;
      padding-left: 32px;
    }
  }